APP_NAME="AfriSense"
APP_URL="http://localhost/Afrisense"
APP_ENV="local"

DB_HOST="localhost"
DB_NAME="afrisense_db"
DB_USER="root"
DB_PASS=""

MAIL_PROVIDER="resend"
RESEND_API_KEY=""
RESEND_FROM_EMAIL="no-reply@afrisense.com"
RESEND_FROM_NAME="AfriSense Food Services"
PASSWORD_RESET_URL="http://localhost/Afrisense/frontend/auth/reset-password.php"
PASSWORD_RESET_EXPIRY_MINUTES="15"
